
body, html {
  margin: 0;
  padding:0;
  
}

.ButtonHolder{
  position: fixed;
  top:0;
  left:0;
  padding:10px;
  z-index: 1;

}


.SpiderHolder{
  display: flex;
  flex-wrap: wrap;
  line-height: 0;
}